<!doctype html>
<html lang="en">
    <head>
  	<title> Admin Page </title>
  	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>

    <body>
     <nav class="navbar navbar-light bg-faded" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            Hello Administrator <span id="username">{{ username }}! </span> 
        </a>
    </nav>
    <div id="container" style="width:100%;">   
        <div class="text-left well" ><b> My Settings</b> </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Setting id</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Max people</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Max money</b> </div>
                </div>
            </div>
            {% for setting in mysetting %}
            <div class="row">
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{setting.sid}}</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{setting.max_people}}</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{setting.max_money}}</b> </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
        <div> 
            <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addItem" >Add Setting</button>  
            <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addItem" >Modify Setting</button>  
        </div>
    </div>
    <div id="container" style="width:100%;"> 
        <div class="text-left well" ><b> My rooms & current setting</b> </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Room id</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Setting id</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Max people</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Max money</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Duration from</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>Duration to</b> </div>
                </div>
            </div>
            {% for room in myrooms %}
            <div class="row">
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{room.aid}}</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{room.sid}}</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{room.max_people}}</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{room.max_money}}</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{room.duration_from}}</b> </div>
                </div>
                <div class="col">
                    <div class="text-center well" style="text-align:center;" ><b>{{room.duration_to}}</b> </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div> 
            <!--<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addItem" >Add Room</button>  -->
            <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addItem" >Change Setting</button>  
        </div>

    </div>
        
    </body>
</html>
